<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <i class="pi pi-shopping-cart" style="font-size: 2rem; cursor: pointer;" (click)="onCartClick()"></i>
        <p-badge *ngIf="totalQuantity > 0" [value]="totalQuantity" severity="info" styleClass="cart-badge"></p-badge>
    </div>
</p-toolbar>

<p-dialog header="Shopping Cart" [(visible)]="cartDialogVisible" [style]="{ width: '50vw' }">
    <p-card *ngIf="cart.length > 0">
        <ng-template pTemplate="header">
            <h3>Your Cart</h3>
        </ng-template>
        <ng-template pTemplate="body">
            <p-table [value]="cart" [paginator]="true" [rows]="5" [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price | currency: 'EUR' }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price * product.quantity | currency: 'EUR' }}</td>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </p-card>
    <p *ngIf="cart.length === 0">Your cart is empty.</p>
    <p-footer>
        <p-button label="Close" icon="pi pi-times" (click)="cartDialogVisible = false"></p-button>
    </p-footer>
</p-dialog>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>
